USE [TestDB]
GO
/****** Object:  Table [dbo].[credit_ratings]    Script Date: 30/03/2026 2:56:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[credit_ratings](
	[issuer_id] [nvarchar](50) NOT NULL,
	[sector] [nvarchar](50) NOT NULL,
	[year] [smallint] NOT NULL,
	[from_rating] [nvarchar](50) NOT NULL,
	[to_rating] [nvarchar](50) NOT NULL,
	[upgraded] [bit] NOT NULL,
	[downgraded] [bit] NOT NULL,
	[defaulted] [bit] NOT NULL,
	[notches_moved] [smallint] NOT NULL
) ON [PRIMARY]
GO
