USE [TestDB]
GO
/****** Object:  Table [dbo].[loan_portfolio]    Script Date: 30/03/2026 2:56:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loan_portfolio](
	[loan_id] [money] NOT NULL,
	[origination_date] [date] NOT NULL,
	[maturity_date] [date] NOT NULL,
	[maturity_months] [tinyint] NOT NULL,
	[sector] [nvarchar](50) NOT NULL,
	[loan_type] [nvarchar](50) NOT NULL,
	[collateral] [nvarchar](50) NOT NULL,
	[initial_rating] [nvarchar](50) NOT NULL,
	[credit_score] [smallint] NOT NULL,
	[ead] [float] NOT NULL,
	[coupon_rate] [float] NOT NULL,
	[leverage] [float] NOT NULL,
	[interest_coverage] [float] NOT NULL,
	[debt_to_equity] [float] NOT NULL,
	[pd_annual] [float] NOT NULL,
	[lgd] [float] NOT NULL,
	[el] [float] NOT NULL,
	[unexpected_loss] [float] NOT NULL,
	[rwa] [float] NOT NULL,
	[defaulted] [bit] NOT NULL,
	[default_date] [date] NULL,
	[survival_months] [tinyint] NOT NULL,
	[recovery_rate] [float] NULL,
	[loss_given_default] [float] NULL
) ON [PRIMARY]
GO
