USE [TestDB]
GO
/****** Object:  Table [dbo].[macro_stress_scenarios]    Script Date: 30/03/2026 2:56:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[macro_stress_scenarios](
	[scenario] [nvarchar](50) NOT NULL,
	[gdp_shock_pp] [float] NOT NULL,
	[unemp_shock_pp] [float] NOT NULL,
	[rate_shock_pp] [float] NOT NULL,
	[credit_spread_bps] [smallint] NOT NULL,
	[sector] [nvarchar](50) NOT NULL,
	[base_pd] [float] NOT NULL,
	[stressed_pd] [float] NOT NULL,
	[pd_uplift_pp] [float] NOT NULL,
	[pd_multiplier] [float] NOT NULL,
	[base_lgd] [time](7) NOT NULL,
	[stressed_lgd] [float] NOT NULL,
	[total_ead] [float] NOT NULL,
	[expected_loss_base] [float] NOT NULL,
	[expected_loss_stress] [float] NOT NULL,
	[el_increase_pct] [float] NOT NULL
) ON [PRIMARY]
GO
