USE [TestDB]
GO
/****** Object:  Table [dbo].[portfolio_metrics]    Script Date: 30/03/2026 2:56:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[portfolio_metrics](
	[date] [date] NOT NULL,
	[n_active_loans] [smallint] NOT NULL,
	[total_ead] [float] NOT NULL,
	[total_el] [float] NOT NULL,
	[total_rwa] [float] NOT NULL,
	[el_rate] [float] NOT NULL,
	[avg_pd] [float] NOT NULL,
	[avg_lgd] [float] NOT NULL,
	[var_99] [float] NOT NULL,
	[cvar_995] [float] NOT NULL,
	[sector_hhi] [float] NOT NULL,
	[new_defaults] [smallint] NOT NULL,
	[gdp_growth] [float] NOT NULL,
	[unemployment] [float] NOT NULL,
	[policy_rate] [float] NOT NULL,
	[credit_spread_bps] [float] NOT NULL
) ON [PRIMARY]
GO
