USE [TestDB]
GO
/****** Object:  Table [dbo].[vintage_analysis]    Script Date: 30/03/2026 2:56:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vintage_analysis](
	[vintage] [nvarchar](50) NOT NULL,
	[months_on_books] [tinyint] NOT NULL,
	[n_loans_originated] [smallint] NOT NULL,
	[n_active] [smallint] NOT NULL,
	[n_defaulted_cumulative] [int] NOT NULL,
	[cumulative_default_rate] [float] NOT NULL,
	[marginal_default_rate] [float] NOT NULL,
	[avg_pd_at_origination] [float] NOT NULL,
	[avg_credit_score] [float] NOT NULL
) ON [PRIMARY]
GO
